.sprite { background: url('../img/sprite.png') no-repeat top left; display: inline-block;  } 
.sprite.arrow_divide { background-position: 0px 0px; width: 32px; height: 32px;  } 
.sprite.bold { background-position: 0px -42px; width: 16px; height: 16px;  } 
.sprite.bug { background-position: 0px -68px; width: 32px; height: 32px;  } 
.sprite.bullet_delete { background-position: 0px -110px; width: 32px; height: 32px;  } 
.sprite.bullet_disk { background-position: 0px -152px; width: 32px; height: 32px;  } 
.sprite.bullet_error { background-position: 0px -194px; width: 32px; height: 32px;  } 
.sprite.bullet_toggle_plus { background-position: 0px -236px; width: 16px; height: 16px;  } 
.sprite.cancel { background-position: 0px -262px; width: 32px; height: 32px;  } 
.sprite.chart_organisation { background-position: 0px -304px; width: 32px; height: 32px;  } 
.sprite.chart_organisation_add { background-position: 0px -346px; width: 32px; height: 32px;  } 
.sprite.comments { background-position: 0px -388px; width: 32px; height: 32px;  } 
.sprite.cross { background-position: 0px -430px; width: 16px; height: 16px;  } 
.sprite.disk { background-position: 0px -456px; width: 32px; height: 32px;  } 
.sprite.entity { background-position: 0px -498px; width: 42px; height: 42px;  } 
.sprite.error { background-position: 0px -550px; width: 32px; height: 32px;  } 
.sprite.folder { background-position: 0px -592px; width: 32px; height: 32px;  } 
.sprite.funnel { background-position: 0px -634px; width: 32px; height: 32px;  } 
.sprite.italic { background-position: 0px -676px; width: 16px; height: 16px;  } 
.sprite.line { background-position: 0px -702px; width: 38px; height: 42px;  } 
.sprite.note { background-position: 0px -754px; width: 32px; height: 32px;  } 
.sprite.object { background-position: 0px -796px; width: 42px; height: 41px;  } 
.sprite.page { background-position: 0px -847px; width: 32px; height: 32px;  } 
.sprite.pencil { background-position: 0px -889px; width: 32px; height: 32px;  } 
.sprite.primary { background-position: 0px -931px; width: 38px; height: 42px;  } 
.sprite.redo { background-position: 0px -983px; width: 32px; height: 32px;  } 
.sprite.required { background-position: 0px -1025px; width: 38px; height: 42px;  } 
.sprite.shape_flip_horizontal { background-position: 0px -1077px; width: 32px; height: 32px;  } 
.sprite.shape_flip_vertical { background-position: 0px -1119px; width: 32px; height: 32px;  } 
.sprite.shape_rotate_anticlockwise { background-position: 0px -1161px; width: 32px; height: 32px;  } 
.sprite.shape_rotate_clockwise { background-position: 0px -1203px; width: 32px; height: 32px;  } 
.sprite.sitemap { background-position: 0px -1245px; width: 32px; height: 32px;  } 
.sprite.sitemap_color { background-position: 0px -1287px; width: 32px; height: 32px;  } 
.sprite.status_away { background-position: 0px -1329px; width: 32px; height: 32px;  } 
.sprite.status_busy { background-position: 0px -1371px; width: 32px; height: 32px;  } 
.sprite.status_offline { background-position: 0px -1413px; width: 32px; height: 32px;  } 
.sprite.status_online { background-position: 0px -1455px; width: 32px; height: 32px;  } 
.sprite.unary_line { background-position: 0px -1497px; width: 38px; height: 42px;  } 
.sprite.underline { background-position: 0px -1549px; width: 16px; height: 16px;  } 
.sprite.undo { background-position: 0px -1575px; width: 32px; height: 32px;  } 
.sprite.unique { background-position: 0px -1617px; width: 38px; height: 42px;  } 
.sprite.value { background-position: 0px -1669px; width: 42px; height: 42px;  } 